<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="R" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss dd-MMM-yyyy}] [%-5p] [%c{1}.%M] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="R"/>
    </root>
</configuration>
